{% set item_id = item.id if item.get('id') is not none else item.name %}
<tr id="row-{{ item_id }}">
  <td>
    <input
      id="name-{{ item_id }}"
      name="name"
      value="{{ item.name }}"
      placeholder="Enter the {{ context|lower }} name"
      required
      onkeydown="if (event.key === 'Enter') document.getElementById('save-{{ item_id }}').click();">
  </td>
  <td>
    <button
      id="save-{{ item_id }}"
      hx-put="/{{ context|lower }}/update/{{ item_id }}"
      hx-target="#details"
      hx-swap="innerHTML"
      hx-include="#name-{{ item_id }}"
      type="button">
      Save
    </button>
    <button
      hx-get="/{{ context|lower }}/"
      hx-target="#details"
      hx-swap="innerHTML"
      type="button">
      Cancel
    </button>
  </td>
</tr>