{% extends "base.html" %}

{% block title %}{{ context }}{% endblock %}

{% block content %}
<p>
  <pre>
  User         : {{ current_user if current_user else 'none' }}
  Context      : {{ context if context else 'none' }}<br>
  Database     : {{ current_database if current_database else 'none' }}
  Table        : {{ current_table if current_table else 'none' }}
  Column       : {{ current_column if current_column else 'none' }}
  Relationships: {{ current_relationship if current_relationship else 'none' }}
  </pre>
</p>
<p>
  <a href="{{ url_for('data_entry.data_entry', table_name=current_table) }}">
    <button type="button">Data Entry</button>
  </a>
</p>

{% if context == "Databases" %}
  <form hx-post="/databases/add" hx-target="#details" hx-swap="innerHTML" method="post">
{% elif context == "Tables" %}
  <form hx-post="/tables/add" hx-target="#details" hx-swap="innerHTML" method="post">
{% elif context == "Columns" %}
  <form hx-post="/columns/add" hx-target="#details" hx-swap="innerHTML" method="post">
{% elif context == "Relationships" %}
  <form hx-post="/relationships/add" hx-target="#details" hx-swap="innerHTML" method="post">
{% else %}
  <form>
{% endif %}
    
    <input name="name" placeholder="Enter a name" required>
    <button type="submit">Add</button>
  </form>

  {% if context in ["Databases", "Tables", "Columns", "Relationships"] %}
  <table>
    <thead>
      <tr>
        <th>{{ context[:-1] }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="details">
      {% include "_rows.html" %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
