<tr id="row-{{ person.id }}">
  <td>
    <input 
      id="name-{{ person.id }}" 
      name="name" 
      value="{{ person.name }}" 
      placeholder="Enter the name" 
      required
      onkeydown="if (event.key === 'Enter') document.getElementById('save-{{ person.id }}').click();">
  </td>
  <td>
    <button 
      hx-put="/update/{{ person.id }}" 
      hx-target="#row-{{ person.id }}" 
      hx-swap="outerHTML"
      hx-include="#name-{{ person.id}}"
      type="button">
      Save
    </button>
    
    <button 
      hx-get="/row/{{ person.id }}" 
      hx-target="#row-{{ person.id }}" 
      hx-swap="outerHTML"
      type="button">
      Cancel
    </button>
  </td>
</tr>
