<!-- templates/base.html                      -->
<!-- contains common elements            -->
<!-- specifically head, navigation and footer -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}My App{% endblock %}</title>
  <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  <link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css" rel="stylesheet">
  <script src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>
</head>
<body>
  <header>
    <h3>{% block header %}Define SQLite DB (CRUD){% endblock %}</h3>
    <nav>
      <a href="{{ url_for('database.index') }}">Databases</a> |
      <a href="{{ url_for('tables.index', db=current_database) }}">Tables</a> |
      <a href="{{ url_for('columns.index') }}">Columns</a> |
      <a href="{{ url_for('index') }}">Relationships</a> |
    </nav>
    <hr>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
  
  <footer>
    <hr>
    <p>2025 Exact-Excel Bridge</p>
  </footer>
</body>
</html>
